[submodule "lib/pymaker"]
	path = lib/pymaker
	url = https://github.com/makerdao/pymaker.git
[submodule "lib/pygasprice-client"]
	path = lib/pygasprice-client
	url = https://github.com/makerdao/pygasprice-client.git
[submodule "lib/pyflex"]
	path = lib/pyflex
	url = https://github.com/reflexer-labs/pyflex.git
	branch = auction_keeper
