[submodule "lib/pyflex"]
	path = lib/pyflex
	url = https://github.com/reflexer-labs/pyflex.git
[submodule "lib/pygasprice-client"]
	path = lib/pygasprice-client
	url = https://github.com/reflexer-labs/pygasprice-client.git
